* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
}

p {
    width: 100px;
    padding: 10px;
    background-color: salmon;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cube {
    transform-style: preserve-3d;
    position: relative;
    width: 500px;
    height: 500px;
}

.side {
    position: absolute;
    width: 500px;
    height: 500px;
}

.front.side {
    background-color: hsl(175deg 100% 70%);
    transform: translateZ(250px);
}

.back.side {
    background-color: hsl(190deg 100% 70%);
    transform: translateZ(-250px);
}

.right.side {
    background-color: hsl(115, 100%, 70%);
    transform: translateX(250px) rotateY(90deg);
}

.left.side {
    background-color: hsl(253, 100%, 70%);
    transform: translateX(-250px) rotateY(-90deg);
}

.top.side {
    background-color: hsl(34, 100%, 70%);
    transform: translateY(-250px) rotateY(90deg);
}

.bottom.side {
    background-color: hsl(347, 100%, 70%);
    transform: translateY(250px) rotateY(-90deg);
}

@keyframes rotate-cube {
    0% {
        transform: rotateX(45deg) rotateY(45deg);
    }

    25% {
        transform: rotateX(-45deg) rotateY(45deg);
    }

    50% {
        transform: rotateX(-45deg) rotateY(45deg);
    }

    75% {
        transform: rotateX(45deg) rotateY(-45deg);
    }

    100% {
        transform: rotateX(45deg) rotateY(45deg);
    }
}

.container {
    animation: rotate-cube 20s infinite linear;
}
