* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
}

p {
    width: 100px;
    padding: 10px;
    background-color: salmon;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cube {

    transform-style: preserve-3d;
    position: relative;
    width: 500px;
    height: 500px;
}

