* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
}

p {
    width: 100px;
    padding: 10px;
    background-color: salmon;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    position: relative;
    gap: 40px;
}

.container .cards {
    position: relative;
    width: 80px;
    height: 260px;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    transition: 500ms;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.container .cards:hover {
    width: 260px;
}

.container .cards img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

