* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #333;
}

p {
    width: 100px;
    padding: 10px;
    background-color: salmon;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    animation: animateColor 8s linear infinite;
}   

@keyframes animateColor {
    0% {
        filter: hue-rotate(0deg) blur(6px) contrast(6);
    }
    100% {
        filter: hue-rotate(360deg) blur(6px) contrast(6);
    }
}

.container .circle {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 -7.5px;
}

.container .circle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(9deg * var(--i)));   
}

.container .circle span::before {
    content: '';
    position: absolute;
    top: calc(50% - 7.5px);
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00fa0a;
    transform: scale(0.15);
    box-shadow: 0 0 10px #00fa0a,
    0 0 20px #00fa0a,
    0 0 40px #00fa0a,
    0 0 60px #00fa0a;
    animation: animate 4s linear infinite;
    animation-delay: calc(0.05s * var(--i));
}

@keyframes animate {
    0% {
        transform: scale(1);
    }

    50%, 100% {
        transform: scale(0.15);
    }
}

.container .circle:nth-child(2) {
    transform: rotate(-180deg);
}

.container .circle:nth-child(2) span::before {
    animation-delay: calc(-0.05s * var(--i));
}